<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet"  href="CSS/main.css" type="text/css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>

     <header>
     
      <nav>
        <ul class="nav_link">
       
          <li><a href="#">Home</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">About me</a></li>

        </ul>
      </nav>

      <a href="#"><button>Contact</button></a>
     </header>

     <div class="projectSecion">
      <h2 class="PeojectTitle">   Flappy Bird Extreme Crush Online</h2>
      <a style="color: #00f" class="PeojectTitle"  href="https://play.google.com/store/apps/details?id=com.AmirRaza.FlappyBirdCrush"><p>https://play.google.com/store/apps/details?id=com.AmirRaza.FlappyBirdCrush</p></a>
      <img class="titleimg" src="Images/flappybird.png"/>
      <p  class="Projectdescription">Flappy Duck Extreme crush level game is adventurous and thrilling game. Duck is designed so, that One can feel best while maneuvering the Duck through the best animated graphics. Duck is the Soul Character of Our Game. During game play Duck can get various capabilities like Firing of Duck
        Flappy Duck Extreme crush levels consists of two modes; Crush the world and Unlimited flap mode.
        Crush the world is a story of Duck Family where all the other characters want to kill the Flappy Duck. Crush the world can thrill and entertain you with different levels
        which include tasks and rewards. It's not just about tasks but to complete the task one have to face too many challenges. The difficulties to complete the task are like firing,random movement of owl, bombing of jelly bird, firing of jelly, flying blue birds,
        laser effect, bite of snake, collision with Moving&Blinking Boxes and many more.
        The other challenges is one have to maintain the flap of Flappy Duck where a Chocolate Monster will try to kill the Flappy Duck through ruthless firing& Bombing. The most adventurous in game is that you can get ability of firing through some gifts so that you can crush the chocolate Monster. its an life losing thrill to get the gift. The speed of the Duck is also a challenge make the player to react with in time to Survive. One can experience a high speed in the uper next level.
         Duck can conquer the world if you flap the Duck in the right way.
      </p>

     </div>

     <div class="projectSecion">
        <h2 class="PeojectTitle">   Riddles & Brain Teasers with Answers</h2>
        <a style="color: #00f" class="PeojectTitle"  href="https://play.google.com/store/apps/details?id=com.sp3&gl=GB"><p>https://play.google.com/store/apps/details?id=com.sp3&gl=GB</p></a>
        <img class="titleimg" src="Images/RiddlesAndBrainTeaser.png"/>
        <p  class="Projectdescription">
            Riddles- Hard, Funny, & Brain Teasers with Answers is a fun and addictive word game. Mostly Riddles are One Word-like Puzzle. Riddle Game Contain all types of Riddle such as Funny, Logistics, Hard, Number, One word, Detective. It's kind of fun to play and Solve the One-word hard riddle.
★NO INTERNET RIDDLE GAME - OFFLINE★
Riddles- Hard, Funny, & Brain Teasers does not require the Internet for playing. It is a free and offline Riddle game. You can play at any time anywhere without the Internet.
★FOR ALL AGES★
Riddles- Hard, Funny, & Brain Teasers is suitable for all Ages & designed so that anyone can play with their Friends and Family. Especially the content of Riddles is very neat and clean, Every member of your family can play the app.
★AUDIENCE★
As for as it Audience is a concern, anybody can play this game, It is suitable for all. The riddles & Brain Teaser make Player creative, sharp, intelligent, and logical. Apart from fun, amusement Players also get some General Knowledge through this game.
★RIDDLE GAME - SUPPORT MULTIPLE LANGUAGE★
One of the unique features of the Riddle Game is that It supports Multiple Languages like English, Spanish, French, and Arabic. Now Everyone can enjoy the hardest, funniest, trickest Riddles in their Mother Language.
        </p>
  
       </div>

       
     <div class="projectSecion">
        <h2 class="PeojectTitle"> Teesside Chat Applicaiton</h2>
        <a style="color: rgb(0, 0, 255)" class="PeojectTitle"  href="https://github.com/Amir-Raza-Teesside/TeessideChatApp"><p>https://github.com/Amir-Raza-Teesside/TeessideChatApp</p></a>
        <img class="titleimg" src="Images/Teeslogo.jpg"/>
        <p  class="Projectdescription">
            Teesside Chat is a social application that allows users to communicate with one another. 
            They can share their views and opinions in the same way that they would in any other social app.
             To use the application, users must first sign up. The user's phone number, profile picture,
              and name are all that is required for validation. An OTP code is sent to the phone number
               for verification, allowing the user to confirm its authenticity. After registering, 
               he user can send messages to any of the other users who are register.
                They can send photos and emojis. The user can also set the Status, which is visible
                 to all members. I designed the Tees Tweet system, which allows users to write and
                  upload Tees Tweets. All Tees Tweets will be dynamically added to the tweet Activity.
             All the available user of the application can read it on the Tweet Activity
  
       </div>
    
	<script src="index.js"></script>
  </body>
</html>